/* all document */
*{
    /* box-sizing: border-box; */
    padding: 0;
    margin-right: 15px;
    margin-left: 15px;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
}

body {
    background-color:rgb(96, 238, 224);
}
 /* side bar */
header nav ul {
  height: 100%;  
  width: 200px;
  /* flex-direction: column; */
  line-height: 200px;
  position:fixed;
  top: 0;
  left: -14px;
  background-color: #CDB599ff;
  padding-top: 10px;
  text-align: center;
  list-style: none;
  margin-top: auto;
}

nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 22px;
    color: rgb(55, 143, 133);
    font-weight: bold;
    display: block;
}

nav a:hover{
    color: blanchedalmond;
}

/* central photo */
.hero-image {
    width: 35%;
    position: relative;
    margin-left: 665px;
}
/* name on the photo */
.hero-text {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 57%;
    transform: translate(-140%, -10%);
    color: rgb(228, 139, 38);
    font-style:unset;
}

#Welcome {
    height: 500px;
    font-size: 40px;
}

 main {
    margin-left: 200px;
    padding: 5px 5px 5px 5px;
}
/* about me - information */
#about-me {
    padding-left: 2pt;
    color: rgb(228, 139, 38);
    text-align: center;
    font-weight: bolder;
    font-size: 27px;
    margin-top: 5px;
}
 /* paragraphs */
.About-Me p {
    text-indent: 25px;
    text-align: justify;
    height: 60px;
    margin-left: 200px;
    margin-right: 200px;
}
/* work section */
/* #Work {
    color: rgb(228, 139, 38);
    font-weight: bolder;
    text-align: center;
    font-size: 27px;
    margin: 0 0 -10 0;
}
section ul {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align:justify;
    list-style-type: none;
}

#horiseon {
    color: black;
    text-decoration: none;
    text-align: left;
    padding-bottom: 5px;
    display: flex;
}

#item-one a:hover {
    color: blanchedalmond;
}

#image1 {
    margin: 5px 5px 5px 5px;
}


#day-planner {
    color: black;
    text-decoration: none;
    text-align: left;
    padding-bottom: 5px;
    display: flex;
}

#item-five a:hover {
    color: blanchedalmond;
    display: absolute;
    margin-left: 300px;
}

#wds-img {
    margin: 5px 5px 5px 5px; */
/* } */

/* #portfolio {
    
   margin-left: 5px;
   margin-top: 81px;
}

#password-generator {
    margin-top: 10px;
}

*/

/* #comet-watch {
    color: black;
    text-decoration: none;
    text-align: left;
    padding-bottom: 5px;
    display: flex;
}

#item-seven a:hover {
    color: blanchedalmond;
    display: absolute;
    margin-left: 300px;
}

#comet-img {
    margin: 5px 5px 5px 5px;
} */
/* footer section */
#contact-me {
    color: rgb(228, 139, 38);
    font-weight: bolder;
    display:linear;
    text-align: center;
    font-size: 27px;
}

.Contact-Me a {
    margin-left: 330px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-content: center;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.Contact-Me p {
    margin-top: 50px;
    margin-bottom: 100px;
}
footer a:hover{
    color: blanchedalmond;
}
